@import "tailwindcss";

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #0f1626;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2e3a52;
    border-radius: 9999px;
    border: 1px solid #0f1626;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #4b5563;
  }
}
